@import "react-image-gallery/styles/css/image-gallery.css";

.view-detail-book {

    .original-image,
    .thumbnail-image {
        cursor: pointer;
    }

    img {
        border-radius: 3px;
    }

    .title {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
        max-height: 48px;
        max-width: 665px;
        overflow: hidden;
        overflow-wrap: break-word;
        vertical-align: sub;
        margin: 10px 0;

    }

    .price {
        margin: 10px 0;
        background: #fafafa;
        padding: 15px 20px;
        position: relative;
        z-index: 2;

        .currency {
            color: #ee4d2d;
            font-size: 30px;
            font-weight: 500;
        }
    }

    .delivery {
        align-items: center;
        color: #222;
        display: flex;
        margin-bottom: 25px;
        margin-left: -4px;
        margin-top: -4px;
        padding: 4px;

        .left {
            align-items: center;
            color: #757575;
            flex-shrink: 0;
            font-size: inherit;
            font-weight: 400;
            margin: 0 10px 0 0;
            text-transform: capitalize;
            width: 100px;
        }
    }

    .quantity {
        align-items: center;
        color: #222;
        display: flex;
        margin-bottom: 25px;
        margin-left: -4px;
        margin-top: -4px;
        padding: 4px;

        .left {
            align-items: center;
            color: #757575;
            flex-shrink: 0;
            font-size: inherit;
            font-weight: 400;
            margin: 0 10px 0 0;
            text-transform: capitalize;
            width: 100px;
        }

        .right {
            background: #fff;
            align-items: center;
            display: flex;

            .quantity-input {
                -webkit-appearance: none;
                border-left: 0;
                border-radius: 0;
                border-right: 0;
                border: 1px solid rgba(0, 0, 0, 0.09);
                cursor: text;
                font-size: 16px;
                font-weight: 400;
                height: 32px;
                text-align: center;
                width: 50px;
                align-items: center;
                background: transparent;
                display: flex;
                justify-content: center;
                letter-spacing: 0;
                line-height: 1;
                outline: none;
                transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
            }

            .decrease {

                align-items: center;
                background: transparent;
                border: 0;
                border: 1px solid rgba(0, 0, 0, .09);
                border-radius: 2px;
                color: rgba(0, 0, 0, .8);
                cursor: pointer;
                display: flex;
                font-size: .875rem;
                font-weight: 300;
                height: 32px;
                justify-content: center;
                letter-spacing: 0;
                line-height: 1;
                outline: none;
                transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
                width: 32px;
            }

            .increase {
                align-items: center;
                background: transparent;
                border: 0;
                border: 1px solid rgba(0, 0, 0, .09);
                border-radius: 2px;
                color: rgba(0, 0, 0, .8);
                cursor: pointer;
                display: flex;
                font-size: .875rem;
                font-weight: 300;
                height: 32px;
                justify-content: center;
                letter-spacing: 0;
                line-height: 1;
                outline: none;
                transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
                width: 32px;
            }
        }
    }

    .buy {
        display: flex;

        .cart {
            flex-direction: row;
            background: rgba(255, 87, 34, .1);
            border: 1px solid #ee4d2d;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
            color: #ee4d2d;
            outline: 0;
            overflow: visible;
            position: relative;
            max-width: 250px;
            height: 48px;
            padding: 0 20px;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            align-items: center;
            border-radius: 4px;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            text-transform: capitalize;
            justify-content: center;
            font-size: 14px;
            margin-right: 15px;
            min-width: 180px;

            .icon-cart {
                height: 20px;
                margin-right: 10px;
                width: 20px;

            }

            img {
                border: 0;
                overflow-clip-margin: content-box;
                overflow: clip;
            }
        }

        .now {
            background: #ee4d2d;
            color: #fff;
            outline: 0;
            overflow: visible;
            position: relative;
            height: 48px;
            padding: 0 20px;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            align-items: center;
            border: 0;
            border-radius: 4px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-transform: capitalize;

            font-size: 14px;
            margin-right: 15px;
            min-width: 180px;
            max-width: 250px;
        }

        @media(max-width: 576px) {
            .cart {
                font-size: 10px;


                .icon-cart {
                    height: 15px;
                    margin-right: 10px;
                    width: 15px;

                }
            }

            .now {
                font-size: 10px;
                padding: 0 10px;
            }
        }
    }
}